<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-screenevents" version="1.0.0">
    <name>Screen Events</name>
    <description>Cordova Screen Events Plugin - Trigger events based on your device's screen state!</description>
    <author>Walter Robins</author>
    <keywords>cordova,screen,event,app,phone,events,state,off,on</keywords>
    <license>Apache 2.0</license>
    <repo>https://github.com/wrobins/cordova-plugin-screenevents.git</repo>
    <issue>https://github.com/wrobins/cordova-plugin-screenevents/issues</issue>
    <engines>
        <engine name="cordova" version=">=7.0.0"/>
    </engines>
    <js-module src="www/screenevents.js" name="ScreenEvents">
        <clobbers target="cordova.plugins.ScreenEvents" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenEvents">
                <param name="android-package" value="com.wrobins.cordova.plugin.ScreenEvents" />
            </feature>
        </config-file>
        <source-file src="src/android/ScreenEvents.java" target-dir="src/com/wrobins/cordova/plugin" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ScreenEvents">
                <param name="ios-package" value="ScreenEvents"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ScreenEvents.h" />
        <source-file src="src/ios/ScreenEvents.m" />
    </platform>
</plugin>